:root {
  --font-primary: "Cabin", sans-serif;
  --color-container-background: #8686869b;
  --color-text: #e1e1e1;
  --color-text-secondary: #898989;
  --color-primary-1: #FF4A5B;
  --color-background-1: #EFE8D2;
  --color-primary-2: #2ed810;
  --color-background-2: #002C3F;
  --color-primary-3: #FF6144;
  --color-background-3: #575A39;
  --color-primary-4: #4BADCE;
  --color-background-4: #06374D;

  --color-text-bloom: #dcdcdc60;
  --color-text-shadow: #00000060;
}

* {
  box-sizing: border-box;
  font-family: var(--font-primary);
  font-optical-sizing: auto;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;

  &.theme-1 {
    --color-background: var(--color-background-1);
    --color-primary: var(--color-primary-1);
  }

  &.theme-2 {
    --color-background: var(--color-background-2);
    --color-primary: var(--color-primary-2);
  }

  &.theme-3 {
    --color-background: var(--color-background-3);
    --color-primary: var(--color-primary-3);
  }

  &.theme-4 {
    --color-background: var(--color-background-4);
    --color-primary: var(--color-primary-4);
  }

  background-color: var(--color-background);
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  color: var(--color-primary);
  opacity: 0.1;
}

.container {
  background-color: var(--color-container-background);
  height: 95%;
  width: 95%;
  padding: 1rem 2rem;
  border-radius: 50px;
  border: 10px solid var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow:
    0 0 15px var(--color-text-bloom),
    0 2px 4px var(--color-text-shadow);
  box-shadow:
    inset 0 -5px 20px var(--color-text-shadow),
    inset 0 5px 20px var(--color-text-bloom),
    -8px 8px 5px var(--color-text-shadow),
    5px 18px 10px var(--color-text-shadow);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 90%;
    height: 90%;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 80%;
    height: 80%;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 70%;
    height: 70%;
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;

  img {
    width: 50px;
    height: 50px;
  }
}

.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  img {
    width: 50px;
    height: 50px;
    margin: 0 1rem;
  }
}

a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bolder;

 &:hover {
    text-decoration: underline;
  }
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;

  button {
    position: relative;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    color: var(--color-text-secondary);
    background-image: linear-gradient(
      hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0) 50%,
      hsla(0, 0%, 0%, 0.3) 50%, hsla(0, 0%, 100%, 0.2)
    );
    text-shadow:
      0 0 15px var(--color-text-bloom),
      0 2px 4px var(--color-text-shadow);
    box-shadow:
      inset 0 -5px 20px hsla(0, 0%, 0%, 0.4),
      inset 0 5px 20px hsla(0, 0%, 100%, 0.4),
      -8px 8px 5px hsla(0, 0%, 0%, 0.15),
      5px 18px 10px hsla(0, 0%, 0%, 0.2);

    &.active {
      color: var(--color-text);
      background-color: var(--color-primary);
    }
    
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 10px;
      right: 10px;
      top: 5px;
      bottom: 50%;
      border-radius: 15px;
      background: linear-gradient(
        hsla(0, 0%, 100%, 0.583), hsla(0, 0%, 100%, 0) );
    }
  }
}

.soundboard {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--color-container-background);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 1rem 2.5rem;
  margin-top: 1rem;

  &::-webkit-scrollbar {
    width: 10px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 10px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-container-background);
    border-radius: 10px;
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
    .section-title {
      grid-column: 1 / -1;
      font-size: 2rem;
      border-bottom: 1px solid var(--color-text);
    }    
  }
}

.soundboard-button {
  cursor: pointer;
  position: relative;
  text-align: center;
  padding: 1.5rem;
  font-size: 1.5rem;
  height: 200px;
  width: 200px;
  color: var(--color-text);
  border-radius: 100%;
  background-color: var(--color-primary);
  box-shadow:
    inset 0 -5px 20px var(--color-text-shadow),
    inset 0 5px 20px var(--color-text-bloom),
    -8px 8px 5px var(--color-text-shadow),
    5px 18px 10px var(--color-text-shadow);
  background-image: linear-gradient(
    hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0) 50%,
    hsla(0, 0%, 0%, 0.3) 50%, hsla(0, 0%, 100%, 0.2)
  );
  transition: all 0.2s ease;
  word-wrap: break-word;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 20px;
    bottom: 20px;
    border-radius: 100%;
    opacity: 0.5;
    background: linear-gradient(
      hsla(0, 0%, 100%, 0.583), hsla(0, 0%, 100%, 0) );
  }

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}